# datas 

Part_1/Data
Part_1/Data

Part_2/data_new_york
Part_2/01-Kaggle-Taxi-Fare/.ipynb_checkpoints
Part_2/01-Kaggle-Taxi-Fare/Data
Part_2/01-Kaggle-Taxi-Fare/GCP-Coupons-Instructions.rtf

Part_2/02-Taxi-Fare-Pipeline/img
Part_2/02-Taxi-Fare-Pipeline/.ipynb_checkpoints
Part_2/03-Notebook-to-package/.ipynb_checkpoints
Part_2/04-MLFlow-quickstart/Etape4/.ipynb_checkpoints
Part_2/04-MLFlow-quickstart/Etape4/TaxiFareModel/.ipynb_checkpoints

Part_2\05-Iterate-with-MLFlow\.ipynb_checkpoints


